PORT=3000
DATABASE_URL="postgresql://flHoa:flHoa@localhost:5432/flHoa?schema=public"
JWT_SECRET=your-secret-key-change-in-production

# OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
BASE_URL=http://localhost:3000